* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

#mainnav {
  position: sticky;
  top: 0;
  display: flex;
  background-color: black;
  justify-content: space-between;
  width: 100vw;
  height: 50px;
  padding: 10px;
}
#mainnav h1 {
  font-size: 30px;
  color: white;
}
#mainnav ul {
  display: flex;
}
#mainnav ul li {
  display: flex;
  padding: 10px;
}
#mainnav ul li:hover {
  background-color: white;
}
#mainnav ul li:hover a {
  color: black;
  text-decoration: underline;
}
#mainnav .checkbtn {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.hero {
  background: url(hero-bg.jpg) no-repeat;
  height: 100vh;
  width: 100vw;
  position: top left;
}
.hero #home {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero #home .cont {
  width: 450px;
  margin-top: 40px;
  margin-left: 10%;
}
.hero #home h1 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}
.hero #home h1 span {
  color: yellow;
}
.hero #home p {
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
}
.hero #home #bt1 {
  margin: 20px;
  padding: 10px;
  color: black;
  background-color: white;
  border-radius: 5px;
  margin-left: 10%;
}
.hero #home #bt1:hover {
  background-color: blue;
  color: white;
}
.hero #home #bt2 {
  padding: 10px;
  color: black;
  background-color: white;
  border-radius: 5px;
}
.hero #home #bt2:hover {
  background-color: red;
  color: white;
}

#about {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about img {
  height: 250px;
}
#about .cont {
  position: relative;
  width: 300px;
  margin-left: 20px;
}
#about .cont .bt {
  margin: 20px;
}
#about .cont a {
  padding: 10px;
  background-color: black;
  border-radius: 10px;
}
#about .cont a:hover {
  background-color: brown;
  color: black;
}

#services {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: auto;
  justify-content: center;
  align-items: center;
}
#services h1 {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}
#services .box {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}
#services .box a {
  margin-top: 35px;
  background-color: black;
  color: white;
  padding: 5px;
}
#services .box a:hover {
  background-color: blue;
}
#services .box p {
  padding-bottom: 20px;
}
#services .box .box1 {
  width: 25%;
  background-color: white;
  height: 250px;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
#services .box .box1 h1 {
  font-size: 20px;
  color: black;
}
#services .box .box2 {
  align-items: center;
  text-align: center;
  width: 25%;
  background-color: white;
  height: 250px;
  margin-bottom: 10px;
}
#services .box .box2 h1 {
  font-size: 20px;
  color: black;
}
#services .box .box3 {
  width: 25%;
  background-color: white;
  height: 250px;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}
#services .box .box3 h1 {
  font-size: 20px;
  color: black;
}

#response {
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#response img {
  height: 100px;
  margin-bottom: 20px;
}
#response h1 {
  margin-top: 10px;
  font-size: 40px;
  text-transform: uppercase;
  margin: 10px;
  margin-bottom: 30px;
}
#response h2 {
  margin-bottom: 10px;
}
#response .cont {
  width: 400px;
}

#form {
  background: url(contact-bg.jpg) no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#form .back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
}
#form h1 {
  color: white;
  margin: 20px;
  font-size: 30px;
}
#form form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
}
#form form input {
  height: 40px;
}
#form form a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  width: 70px;
  height: 30px;
  background-color: white;
  color: black;
}
#form form a:hover {
  background-color: blueviolet;
  color: white;
}

#guards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#guards .cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 30px;
}
#guards h1 {
  margin: 20px;
  text-align: center;
}
#guards P {
  text-align: center;
  font-size: 15px;
  margin: 20px;
  letter-spacing: 3;
}
#guards .img {
  display: flex;
  margin: 10px;
  height: 100%;
  width: 100%;
}
#guards .img1 {
  display: flex;
  background: url(t1.jpg) no-repeat center top;
  height: 400px;
  width: 400px;
  margin-right: 20px;
}
#guards .img1 .cont {
  color: white;
  margin-top: 81%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 80px;
  width: 100%;
  justify-content: center;
}
#guards .img1 h1 {
  display: flex;
  font-size: 20px;
}
#guards .img1 h2 {
  font-size: 15px;
}
#guards .img2 {
  display: flex;
  background: url(t2.jpg) no-repeat center top;
  height: 400px;
  width: 400px;
  margin-right: 20px;
}
#guards .img2 .cont {
  color: white;
  margin-top: 81%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 80px;
  width: 100%;
  justify-content: center;
}
#guards .img2 h1 {
  display: flex;
  font-size: 20px;
}
#guards .img2 h2 {
  font-size: 15px;
}
#guards .img3 {
  display: flex;
  background: url(t3.jpg) no-repeat center top;
  height: 400px;
  width: 400px;
}
#guards .img3 .cont {
  color: white;
  margin-top: 81%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 80px;
  width: 100%;
  justify-content: center;
}
#guards .img3 h1 {
  display: flex;
  font-size: 20px;
}
#guards .img3 h2 {
  font-size: 15px;
}
#guards a {
  margin-top: 20px;
  background-color: black;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
#guards a:hover {
  background-color: royalblue;
  color: maroon;
}

footer {
  height: auto;
  width: 100vw;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: center;
}
footer h1 {
  margin: 10px;
}
footer .icon {
  width: 25%;
  margin-right: 100px;
  margin-left: 30px;
}
footer .icon .logo {
  margin-bottom: 10%;
}
footer .icon .ic {
  display: flex;
  gap: 20px;
}
footer .about {
  width: 25%;
}
footer .contact {
  width: 25%;
}
footer .contact h1 {
  margin-top: 5px;
}
footer .news {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-right: 100px;
}
footer .news input {
  height: 30px;
  width: 150px;
  border-radius: 5px;
}
footer .news a {
  text-decoration: none;
  color: white;
  width: 150px;
  background-color: gray;
  padding: 10px;
}
footer .news a:hover {
  background-color: brown;
}

@media screen and (max-width: 768px) {
  #mainnav {
    display: flex;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  #mainnav ul {
    display: none;
    flex-direction: column;
  }
  #mainnav .checkbtn {
    display: block;
    font-size: 30px;
    margin-right: 10%;
  }
  #mainnav #check:checked ~ ul {
    display: block;
    margin-top: 40px;
  }
  #services {
    display: flex;
    flex-direction: column;
  }
  #services .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 30px;
  }
  #services .box .box1 {
    width: 50%;
  }
  #services .box .box2 {
    width: 50%;
  }
  #services .box .box3 {
    width: 50%;
  }
  #response {
    height: auto;
    margin-bottom: 10px;
  }
  #response h1 {
    font-size: 30px;
  }
  #guards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #guards .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #guards .img .img1 {
    margin: 10px;
  }
  #guards .img .img2 {
    margin: 10px;
  }
  #guards .img .img3 {
    margin: 10px;
  }
  footer {
    height: auto;
    grid-template-columns: auto auto;
    padding-left: 100px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 430px) {
  #mainnav {
    width: 100vw;
  }
  .hero #home h1 {
    font-size: 25px;
  }
  .hero #home p {
    font-size: 12px;
  }
  .hero #home #bt1 {
    font-size: 12px;
    padding: 5px;
  }
  .hero #home #bt2 {
    font-size: 12px;
    padding: 5px;
  }
  #about {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  #about img {
    margin-top: 10%;
    height: 150px;
  }
  #about .bt {
    align-items: center;
    font-size: 15px;
    padding: 5px;
  }
  #services {
    height: auto;
  }
  #services .heading h1 {
    margin-top: 10px;
    font-size: 20px;
  }
  #services .box h1 {
    font-size: 5px;
  }
  #services .box p {
    font-size: 11px;
  }
  #response {
    height: auto;
  }
  #response h1 {
    font-size: 30px;
  }
  footer {
    padding-top: 20px;
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */